{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Wish List Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="50" class="form-control" name="name"placeholder="Name of Item">

					<label for="price">Price:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" class="form-control" maxlength="10" name="price" placeholder="Price in $">
					</div>
					<label for="priority">Priority:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="priority" id="priority1" value="Very High">Very High
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="priority" id="priority2" value="High">High
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="priority" id="priority3" value="Low">Low
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="priority" id="priority4" value="Very Low">Very Low
					  </label>
					</div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

