{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="jumbotron">
    <h1>Wish Lists</h1>
</div>

<div class='flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
        {% for message in messages %}
        <li><strong> {{ message }} </strong></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</div>


<div class="row padding-top padding-bottom">
    <div class="col-md-1"></div>
    <div class="col-md-10 padding-none">

    </div>
    <div class="col-md-1"></div>
</div>
<div class="list-group">
    {% for wish_list in wish_lists %}

    <a href="{{url_for('show_wish_list', wish_list_id = wish_list.id)}}" class="list-group-item">
        <h3>{{wish_list.name}}
            <small>{{wish_list.user.name}}</small>
        </h3>
    </a>

    {% endfor %}
</div>
{% endblock %}